@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: min(100%, 1440px);
  margin: auto;
}
/* Header */
header {
  background-color: #284069;
  display: flex;
  padding: 53px 98px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 50px;
}
.active,
.inactive {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ddeaf8;
}
.active {
  color: #f56013;
}
/* Section */
section {
  background-color: #ddeaf8;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #f56013;
  padding: 94px 110px 54px 98px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px 30px;
}
article {
  width: 400px;
  height: 354px;
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.card-image {
  width: 340px;
  height: 220px;
  border-radius: 10px;
}
button {
  width: 145px;
  height: 44px;
  border-radius: 10px;
  background-color: #f56013;
  margin-top: auto;
  align-self: flex-end;
  border: none;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  cursor: pointer;
  color: #ffffff;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  background-color: #284069;
}
h2 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #ffffff;
}
.social-list {
  display: flex;
  gap: 32px;
}
