@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: min(100%, 1440px);
  margin: auto;
}
/* Header */
header {
  background-color: #284069;
  display: flex;
  padding: 53px 98px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  column-gap: 50px;
}
.active,
.inactive {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ddeaf8;
}
.active {
  color: #f56013;
}
